Repository zilliztech/attu: changes, and which Codecov flags are due for each by the changed paths.
All: client, express

fix electron config
  client/package.json
  client/src/router/Router.tsx
  express/electron-starter.js
  express/package.json
Due: client, express

try election action
  .github/workflows/electron.yml
Due: none

try election action
  .github/workflows/electron.yml
  express/package.json
Due: express

test action
  .github/workflows/release.yml
  express/package.json
Due: express

test action
  express/package.json
Due: express

add electron helper
  .github/workflows/electron.yml
  client/electron-helper.js
Due: client

try mac linux
  .github/workflows/electron.yml
  client/electron-helper.js
Due: client

try mac linux
  .github/workflows/electron.yml
Due: none

reset action
  .github/workflows/electron.yml
  .github/workflows/release.yml
  express/package.json
Due: express

Create index add sizing info
  client/src/consts/Milvus.tsx
  client/src/i18n/cn/common.ts
  client/src/i18n/en/common.ts
  client/src/pages/schema/Create.tsx
  client/src/pages/schema/IndexTypeElement.tsx
  client/src/pages/schema/SizingInfo.tsx
  client/src/pages/schema/Types.ts
  client/src/utils/SizingTool.ts
Due: client

Delete useless code
  client/src/pages/schema/SizingInfo.tsx
Due: client

Delete unused interface
  client/src/pages/schema/Types.ts
Due: client

add milvus clients
  express/src/milvus/milvus.service.ts
Due: express

add win command
  express/package.json
Due: express

support mutiple client in different browsers
  client/src/http/Axios.ts
  client/src/http/Milvus.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/app.ts
  express/src/middlewares/index.ts
  express/src/milvus/milvus.service.ts
Due: client, express

add insight cache
  client/src/components/layout/GlobalEffect.tsx
  express/.prettierrc
  express/package.json
  express/src/app.ts
  express/src/middlewares/index.ts
  express/src/milvus/milvus.controller.ts
  express/src/milvus/milvus.service.ts
  express/src/utils/Const.ts
  express/src/utils/Error.ts
  express/yarn.lock
Due: client, express

Fix milvus service tests
  express/src/__tests__/__mocks__/consts.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/crons/crons.service.test.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/__tests__/partitions/partitions.service.test.ts
  express/src/__tests__/schema/schema.service.test.ts
Due: express

update expired time to one day
  express/src/utils/Const.ts
Due: express

change action
  .github/workflows/electron.yml
Due: none

change election action
  .github/workflows/electron.yml
Due: none

v0.2.0
  .github/workflows/electron.yml
  express/package.json
Due: express

v0.2.0
  .github/workflows/electron.yml
Due: none

v0.3.0
  express/package.json
Due: express

v0.4.0
  express/package.json
Due: express

improve action
  .github/workflows/electron.yml
  express/electron-starter.js
  express/package.json
Due: express

v0.2.0
  express/package.json
Due: express

fix action node version
  .github/workflows/dev.yml
  .github/workflows/release.yml
Due: none

fix link
  client/src/pages/overview/collectionCard/CollectionCard.tsx
Due: client

fix import data tips
  client/src/i18n/cn/insert.ts
  client/src/i18n/en/insert.ts
Due: client

v0.1.8
  express/package.json
Due: express

Update README.md
  README.md
Due: none

fix docker build bug
  client/src/components/icons/Icons.tsx
  client/src/pages/connect/Connect.tsx
  express/src/middlewares/index.ts
Due: client, express

fix comment format
  express/src/middlewares/index.ts
Due: express

readme add Community
  README.md
Due: none

Path conditions:
  client: any of: client/
  express: any of: express/
