Repository zilliztech/attu: changes, and which Codecov flags are due for each by the changed paths.
All: client, express

Update ci
  .github/workflows/dev.yml
Due: none

add mogran logger and fix cron error
  express/package.json
  express/src/app.ts
  express/src/crons/crons.service.ts
  express/src/interceptors/index.ts
  express/src/middlewares/index.ts
  express/yarn.lock
Due: express

add ignore
  .gitignore
Due: none

clean code and move @types package to devDep
  express/package.json
  express/src/middlewares/index.ts
Due: express

Add example test
  .github/workflows/dev.yml
  codecov.yml
  express/package.json
  express/src/__tests__/milvus/index.test.ts
  express/yarn.lock
Due: express

Test push to codecov without token
  .github/workflows/dev.yml
Due: none

add query api
  express/src/collections/collections.service.ts
  express/src/collections/index.ts
Due: express

refine advanced search filter
  client/src/components/advancedSearch/Filter.tsx
  client/src/components/advancedSearch/Types.ts
Due: client

error fix
  client/src/components/grid/Types.ts
Due: client

add query
  client/src/http/BaseModel.ts
  client/src/http/Collection.ts
  client/src/i18n/cn/button.ts
  client/src/i18n/cn/collection.ts
  client/src/i18n/en/button.ts
  client/src/i18n/en/collection.ts
  client/src/pages/collections/Collection.tsx
  client/src/pages/query/Query.tsx
  client/src/pages/query/Styles.ts
  client/src/pages/query/Types.ts
Due: client

refine code
  client/src/pages/query/Query.tsx
Due: client

refine vector layout
  client/src/pages/query/Query.tsx
  client/src/pages/query/Styles.ts
Due: client

refine style
  client/src/pages/query/Query.tsx
  client/src/pages/query/Styles.ts
Due: client

prepare pagination for query api
  express/src/collections/index.ts
Due: express

refine "in" operator data check
  client/src/components/advancedSearch/Condition.tsx
Due: client

fix layout
  client/src/pages/query/Query.tsx
Due: client

Update Query.tsx
  client/src/pages/query/Query.tsx
Due: client

refine glob usage
  express/src/app.ts
  express/src/utils/index.ts
Due: express

add collection dto
  express/package.json
  express/src/app.ts
  express/src/collections/collections.controller.ts
  express/src/collections/dto.ts
  express/src/collections/index.ts
  express/src/exception/HttpException.ts
  express/src/middlewares/validation.ts
  express/src/swagger.ts
  express/tsconfig.json
  express/tslint.json
  express/yarn.lock
Due: express

refine crons controller
  client/src/context/WebSocket.tsx
  client/src/pages/collections/Collections.tsx
  express/src/collections/collections.controller.ts
  express/src/collections/dto.ts
  express/src/crons/crons.controller.ts
  express/src/crons/dto.ts
  express/src/crons/index.ts
Due: client, express

Add milvus module tests
  .github/workflows/dev.yml
  express/package.json
  express/src/__mocks__/milvus/milvus.service.ts
  express/src/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/milvus/index.test.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/__tests__/utils/consts.ts
  express/src/app.ts
  express/src/milvus/milvus.service.ts
Due: express

Update mock address variable
  express/package.json
  express/src/__tests__/milvus/index.test.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/__tests__/utils/consts.ts
Due: express

add copy button for vectors
  client/src/pages/query/Query.tsx
  client/src/pages/query/Styles.ts
Due: client

refine code
  client/src/components/advancedSearch/Filter.tsx
  client/src/http/BaseModel.ts
  client/src/http/Collection.ts
  client/src/i18n/cn/collection.ts
  client/src/i18n/en/collection.ts
  client/src/pages/collections/Collection.tsx
  client/src/pages/query/Query.tsx
Due: client

refine milvus controller;
  express/src/milvus/dto.ts
  express/src/milvus/index.ts
  express/src/milvus/milvus.controller.ts
Due: express

refine partition controller
  express/src/partitions/dto.ts
  express/src/partitions/index.ts
  express/src/partitions/partitions.controller.ts
Due: express

refine schema contronller
  express/src/schema/dto.ts
  express/src/schema/index.ts
  express/src/schema/schema.controller.ts
Due: express

clean code
  client/src/context/WebSocket.tsx
  client/src/pages/collections/Collections.tsx
  express/package.json
Due: client, express

Add constants
  express/src/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/__tests__/utils/constants.ts
  express/src/collections/collections.service.ts
Due: express

Update yarn lock
  express/yarn.lock
Due: express

add collection swagger
  express/package.json
  express/src/collections/collections.controller.ts
  express/src/collections/swagger.yml
  express/src/middlewares/validation.ts
  express/src/milvus/milvus.controller.ts
  express/src/swagger.ts
Due: express

Add collection service tests
  express/src/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/milvus/milvus.controller.test.ts
  express/src/__tests__/utils/constants.ts
  express/src/__tests__/utils/mock.util.ts
  express/src/collections/collections.service.ts
Due: express

add milvus yml
  express/src/milvus/milvus.controller.ts
  express/src/milvus/swagger.yml
Due: express

add crons swagger
  express/src/crons/swagger.yml
Due: express

add partition swagger
  express/src/partitions/partitions.controller.ts
  express/src/partitions/swagger.yml
Due: express

add schema swagger
  express/src/schema/schema.controller.ts
  express/src/schema/swagger.yml
Due: express

clean console
  express/src/middlewares/validation.ts
Due: express

Add partition service tests
  express/src/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/partitions/partitions.service.test.ts
  express/src/__tests__/utils/constants.ts
  express/src/__tests__/utils/mock.util.ts
  express/src/partitions/partitions.controller.ts
  express/src/partitions/partitions.service.ts
  server/src/partitions/partitions.controller.ts
  server/src/partitions/partitions.service.ts
Due: express

Add schema service tests
  express/src/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/schema/schema.service.test.ts
  express/src/__tests__/utils/constants.ts
Due: express

Path conditions:
  client: any of: client/
  express: any of: express/
