Repository zilliztech/attu: changes, and which Codecov flags are due for each by the changed paths.
All: client, express

Update README.md
  README.md
Due: none

update Milvus forum url
  README.md
Due: none

hide system view and fix cron job
  client/src/plugins/system/config.json
  express/src/__tests__/crons/crons.service.test.ts
  express/src/crons/crons.controller.ts
  express/src/crons/crons.service.ts
Due: client, express

fix nginx miss header
  client/src/consts/Localstorage.ts
  express/src/utils/Const.ts
Due: client, express

test dev
  .github/workflows/pre-dev.yml
  express/src/middlewares/index.ts
Due: express

fix action
  .github/workflows/pre-dev.yml
Due: none

Add a yaml to deploy attu on kubernetes
  attu-k8s-deploy.yaml
  doc/en/attu_install-kubernetes.md
  doc/zh-CN/attu_install-kubernetes.md
Due: none

fix unit error
  client/src/utils/SizingTool.ts
Due: client

use enum to defined size status
  client/src/pages/schema/Types.ts
  client/src/utils/SizingTool.ts
Due: client

add comment
  client/src/pages/schema/Types.ts
  client/src/utils/SizingTool.ts
Due: client

update
  client/src/utils/SizingTool.ts
Due: client

fix binary vector when query data
  .gitignore
  client/src/plugins/search/VectorSearch.tsx
  express/generate-csv.ts
  express/package.json
  express/yarn.lock
Due: client, express

Not support mutiple vector fields when create collection
  client/src/pages/collections/Constants.ts
Due: client

remove useless action
  .github/workflows/pre-dev.yml
Due: none

clean console
  .github/workflows/release.yml
  express/src/middlewares/index.ts
Due: express

v0.1.10
  express/package.json
Due: express

fix action
  .github/workflows/release.yml
Due: none

update version
  express/package.json
Due: express

update sdk and version
  client/package.json
  express/package.json
  express/yarn.lock
Due: client, express

fix system view display issue
  client/src/plugins/system/DataCard.tsx
  client/src/plugins/system/SystemView.tsx
  client/src/plugins/system/Topology.tsx
  client/src/plugins/system/config.json
Due: client

replace favicon
  client/public/favicon.png
  client/public/index.html
  client/src/plugins/system/DataCard.tsx
Due: client

add debug logs
  express/src/middlewares/index.ts
  express/src/milvus/milvus.service.ts
Due: express

fix invalid URLs
  doc/zh-CN/attu_install-docker.md
Due: none

fix 401 bug
  client/src/pages/connect/Connect.tsx
  client/src/utils/Format.ts
  express/src/middlewares/index.ts
  express/src/milvus/milvus.service.ts
Due: client, express

improve memory in system view
  client/src/plugins/system/DataCard.tsx
  client/src/plugins/system/NodeListView.tsx
  client/src/plugins/system/SystemView.tsx
  client/src/utils/Format.ts
Due: client

Remove insight
  doc/en/attu_install-helm.md
Due: none

fix typo
  client/src/i18n/en/systemView.ts
  client/src/pages/query/Query.tsx
  express/src/middlewares/validation.ts
Due: client, express

fix typo again
  client/README.md
  client/src/i18n/cn/search.ts
  client/src/i18n/cn/systemView.ts
  client/src/i18n/en/search.ts
Due: client

add example csv
  examples/example_vectors.csv
  examples/search_vectors.csv
Due: none

update server package.json
  express/package.json
Due: express

update package.json
  express/package.json
  server/package.json
Due: express

fix build
  client/src/plugins/system/SystemView.tsx
Due: client

fix zIndex on communityBtn
  client/src/components/menu/CommunityBtn.tsx
Due: client

reset result and improve dockerfile
  Dockerfile
  client/src/plugins/search/VectorSearch.tsx
Due: client

add attu version in menu
  client/src/components/layout/Layout.tsx
  client/src/components/menu/NavMenu.tsx
  client/src/components/menu/Types.ts
  client/src/context/Root.tsx
  client/src/context/Types.ts
  client/src/http/Milvus.ts
  server/package.json
  server/src/milvus/milvus.controller.ts
  server/src/milvus/milvus.service.ts
  server/tsconfig.json
Due: client

upgrader node sdk
  server/package.json
  server/yarn.lock
Due: none

clean code
  client/src/context/Root.tsx
  server/src/milvus/milvus.service.ts
Due: client

Path conditions:
  client: any of: client/
  express: any of: express/
