Repository zilliztech/attu: changes, and which Codecov flags are due for each by the changed paths.
All: client, express

codecov.yml:

coverage:
  status:
    project:
      default:
        flags:
          - client
          - express
      client:
        target: auto
        flags:
          - client
      express:
        target: auto
        flags:
          - express
comment:
  layout: "reach, diff, flags, files"
  require_changes: true
flags:
  client:
    paths:
      - client/
    carryforward: true
  express:
    paths:
      - express/
    carryforward: true

Add crons service tests
  express/src/__tests__/crons/crons.service.test.ts
  express/src/crons/crons.service.ts
  express/src/events/index.ts
Due: express

support custom icon and title
  client/src/components/layout/Layout.tsx
  client/src/components/menu/Types.ts
  client/src/hooks/Navigation.ts
  client/src/router/Types.ts
Due: client

fix search dir name typo
  client/src/pages/search/Constants.ts
  client/src/pages/search/SearchParams.tsx
  client/src/pages/search/Styles.ts
  client/src/pages/search/Types.ts
  client/src/pages/search/VectorSearch.tsx
Due: client

cp vector search to plugin
  client/src/components/layout/Layout.tsx
  client/src/http/Collection.ts
  client/src/plugins/seach/Constants.ts
  client/src/plugins/seach/SearchParams.tsx
  client/src/plugins/seach/Styles.ts
  client/src/plugins/seach/Types.ts
  client/src/plugins/seach/VectorSearch.tsx
  client/src/plugins/seach/config.json
  client/src/router/Config.ts
  client/src/utils/search.ts
  client/tsconfig.paths.json
Due: client

rm system from src
  client/src/pages/system/BaseCard.tsx
  client/src/pages/system/DataCard.tsx
  client/src/pages/system/LineChartCard.tsx
  client/src/pages/system/MiniTopology.tsx
  client/src/pages/system/NodeListView.tsx
  client/src/pages/system/Progress.tsx
  client/src/pages/system/ProgressCard.tsx
  client/src/pages/system/SystemView.tsx
  client/src/pages/system/Topology.tsx
  client/src/pages/system/Types.ts
Due: client

fix search name typo
  client/src/plugins/search/Constants.ts
  client/src/plugins/search/SearchParams.tsx
  client/src/plugins/search/Styles.ts
  client/src/plugins/search/Types.ts
  client/src/plugins/search/VectorSearch.tsx
  client/src/plugins/search/config.json
Due: client

rm search from src/pages
  client/src/http/Collection.ts
  client/src/pages/search/Constants.ts
  client/src/pages/search/SearchParams.tsx
  client/src/pages/search/Styles.ts
  client/src/pages/search/VectorSearch.tsx
  client/src/types/SearchTypes.ts
  client/src/utils/search.ts
Due: client

Update crons service tests
  express/src/__tests__/crons/crons.service.test.ts
  express/src/crons/crons.service.ts
Due: express

Clean code
  express/src/__tests__/crons/crons.service.test.ts
  express/src/crons/crons.service.ts
Due: express

Update readme
  .github/workflows/dev.yml
  README.md
  express/src/__tests__/crons/crons.service.test.ts
Due: express

Format code
  .github/workflows/dev.yml
Due: none

add delete in query tab
  client/src/http/Collection.ts
  client/src/i18n/cn/collection.ts
  client/src/i18n/en/collection.ts
  client/src/pages/collections/Types.ts
  client/src/pages/query/Query.tsx
  express/src/collections/collections.controller.ts
  express/src/collections/collections.service.ts
Due: client, express

Delete useless code
  express/src/crons/crons.service.ts
  express/src/events/index.ts
Due: express

add comment
  express/src/collections/collections.controller.ts
Due: express

Move __mocks__ to __tests__ folder
  express/package.json
  express/src/__tests__/__mocks__/consts.ts
  express/src/__tests__/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/__mocks__/milvus/milvusService.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/__tests__/crons/crons.service.test.ts
  express/src/__tests__/milvus/milvus.controller.test.ts
  express/src/__tests__/milvus/milvus.service.test.ts
  express/src/__tests__/partitions/partitions.service.test.ts
  express/src/__tests__/schema/schema.service.test.ts
  express/src/__tests__/utils/constants.ts
Due: express

Add delete entities test
  express/src/__tests__/__mocks__/milvus/milvusClient.ts
  express/src/__tests__/collections/collections.service.test.ts
  express/src/collections/collections.service.ts
Due: express

Add prettier config
  express/.prettierrc
  express/package.json
  express/yarn.lock
Due: express

Update README.md
  client/README.md
Due: client

fix client path error
  client/src/components/layout/Layout.tsx
  express/src/crons/crons.service.ts
Due: client, express

add timetravel in vector search
  client/package.json
  client/public/env-config.js
  client/src/App.tsx
  client/src/components/customDatePicker/CustomDatePicker.tsx
  client/src/components/customDatePicker/Types.ts
  client/src/components/icons/Icons.tsx
  client/src/components/icons/Types.ts
  client/src/hooks/TimeTravel.ts
  client/src/i18n/cn/search.ts
  client/src/i18n/en/search.ts
  client/src/plugins/search/Types.ts
  client/src/plugins/search/VectorSearch.tsx
  client/src/styles/theme.ts
  client/src/utils/Format.ts
  client/yarn.lock
Due: client

clean code
  client/public/env-config.js
  client/src/hooks/TimeTravel.ts
Due: client

add query time travel
  client/src/pages/query/Query.tsx
  client/src/pages/query/Styles.ts
  client/src/pages/query/Types.ts
Due: client

Fix setCronJob tests
  express/src/__tests__/crons/crons.service.test.ts
Due: express

Update README.md
  README.md
Due: none

support bool field
  client/src/components/advancedSearch/Condition.tsx
  client/src/components/advancedSearch/Types.ts
  client/src/consts/Util.ts
  client/src/pages/collections/Constants.ts
  client/src/pages/collections/Types.ts
  client/src/utils/search.ts
  server/generate-csv.ts
Due: client

hide alias
  client/src/pages/collections/Collections.tsx
Due: client

add csv downloader to query
  client/package.json
  client/src/components/icons/Icons.tsx
  client/src/components/icons/Types.ts
  client/src/i18n/cn/collection.ts
  client/src/i18n/en/collection.ts
  client/src/pages/query/Query.tsx
  client/src/utils/Format.ts
  client/yarn.lock
Due: client

refine code
  client/src/pages/query/Query.tsx
  client/src/utils/Format.ts
Due: client

improve field type
  client/src/http/Field.ts
  client/src/pages/collections/Types.ts
  client/src/pages/schema/Create.tsx
  client/src/pages/schema/Schema.tsx
  client/src/pages/schema/Types.ts
  client/src/plugins/search/Types.ts
  client/src/types/SearchTypes.ts
  client/src/utils/Form.ts
  client/src/utils/search.ts
Due: client

fix bool data display
  client/src/pages/query/Query.tsx
Due: client

hide bool field
  client/src/pages/query/Query.tsx
Due: client

use DataTypeStringEnum instead of specified type
  client/src/components/advancedSearch/Condition.tsx
  client/src/components/advancedSearch/Types.ts
  client/src/pages/query/Query.tsx
  client/src/utils/search.ts
Due: client

system view issues
  client/src/i18n/cn/systemView.ts
  client/src/i18n/en/systemView.ts
  client/src/plugins/system/DataCard.tsx
  client/src/plugins/system/NodeListView.tsx
  client/src/plugins/system/SystemView.tsx
  client/src/plugins/system/Topology.tsx
  client/src/plugins/system/Types.ts
  client/src/plugins/system/config.json
Due: client

resolve comments
  client/src/plugins/system/DataCard.tsx
  client/src/plugins/system/NodeListView.tsx
Due: client

disable vector field in filter
  client/src/pages/query/Query.tsx
Due: client

fix query page
  client/src/pages/query/Query.tsx
  express/src/collections/collections.controller.ts
Due: client, express

-sadd electron config
  express/electron-starter.js
  express/package.json
  express/yarn.lock
Due: express

add electron config
  .gitignore
  client/public/electron.js
  client/public/logo.png
  client/public/milvus-icon-windows.png
  client/public/milvus-icon.icns
  client/public/milvus-icon.png
Due: client

fix package.json
  express/package.json
Due: express
